.header-icon {
  width: 20vw;
  min-width: 120px;
}

.top-contents {
  height: 40vh;
  background-color: #fdd35c; //仮置き
  // background-image: image-url("");
  // background-size: cover;
}

.search-contents {
  background-color: cornsilk;
  max-width: 540px;
}

.box-top-line {
  border-top: 10px solid orange;
}

.indispensable {
  background-color: orange;
  color: white;
}