.header-icon {
  width: 20vw;
  min-width: 180px;
}

.top-contents {
  height: 40vh;
  background-color: #fdd35c; //仮置き
  // background-image: image-url("");
  // background-size: cover;
}

.search-wrapper {
  background-color: cornsilk;
}

.box-top-line {
  border-top: 10px solid orange;
}

.indispensable {
  background-color: orange;
  color: white;
}

.second-header-icon {
  height: 50px;
  margin: 15px;
}