// Place all the styles related to the exhibitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exhibition-card:hover {
  opacity: 0.8;
}
.exhibition-card a {
  color: #333;
}

.exhibition-card a:hover {
  color: #333;
  text-decoration: none;
}

.exhibition-wrapper {
  max-width: 960px;
}

.exhibition-image-contents {
  height: 50vh;
}

.exhibition-image-contents>img {
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

.exhibition-info-table>tr>th {
  font-weight: normal;
}

.exhibition-info-table>tr + tr {
  border-top: 1px dashed orange;
}